<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @user.name %> added by <%= @user.email %></h1>
    <p>
    	<%= cl_image_tag(@user.images, :class => "img-responsive") %>
    </p>
  </body>
</html>
